body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: green;
    color:#fff;
    transition:top .5s, left .5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}